@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body    {
    margin: 0;
    padding: 0;
    background-image: url(./images/background-image.jpg);
    color: #E79B29;
    font-family: 'Nunito', sans-serif;
    min-width: 320px;
}
.dark-mode  {
    background-image: url(./images/cristofer-maximilian-D8iB5QBF3JM-unsplash.jpg);
    color: #181717;
}
.container  {
    position: relative;
}
header .hamburger-night-mode-container .night-mode svg  {
    position: relative;
}
header .hamburger-night-mode-container .night-mode svg .moon {
    position: absolute;
    visibility: hidden;
}
a   {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
header  {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}
header .hamburger-night-mode-container  {
    display: flex;
    flex-direction: row;
    align-items: center;

}
header .hamburger-menu {
    /* display: none; */
    background-color: #E79B29;
    width: 100%;
    color: #181717;
    position: absolute;
    top: 0;
    right: -100%;
    left: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
}
header nav button   {
    margin-top: 4rem;
    background: inherit;
    border: none;
}
header nav button i  {
    color: #181717;
    background-color: #E79B29;
    font-size: 2rem;
}
.work-container .work-main h1 {
    text-align: center;
}
header nav ul   {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.work-container .work-main .cards {
    display: flex;
    flex-direction: column;
    
}
.work-container .work-main .cards .card {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    position: relative;
    background-color: rgba(24, 23, 23, 0.1);
    box-shadow: 0px 2px 2px 1px #E79B29;
}
.work-container .work-main .cards .card .card-image {
    display: flex;
    position: relative;
    width: 100%;
}
.work-container .work-main .cards .card .card-image img {
    width: 100%;
    height: 100vh;
    object-fit: fill;
    border-radius: 8px;
}
.work-container .work-main .cards .card .card-image .img-large-view {
    width: 100%;
    height: 22vh;
    object-fit: contain;
    border-radius: 8px;
}
.work-container .work-main .cards .card .card-text  {
    margin-top: 1rem;
}
.work-container .work-main .cards .card .card-text .github  {
    margin-left: 28%;
    font-size: 1.5rem;
}
.work-container .work-main .cards .card .card-text .url {
    margin-left: 28%;
    font-size: 1.5rem;
}
.work-container .work-main .cards .card .card-text , .work-container .work-main .cards .card .card-text .description    {
    margin-top: 1rem;
}
header nav ul li    {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600
}
header .hamburger-night-mode-container button   {
    border: none;
    margin-left: 1.5rem;
    background-color: #181717;
}
.hamburger-night-mode-container .night-mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .hamburger-night-mode-container button i {
    background-color: #181717;
    color: #E79B29;
    font-size: 1.5rem;
}
main .about h1 {
    margin-top: 3.5rem;
    padding: 1rem;
}
main .about p {
    padding: 0 1rem;
}
.services h2    {
    padding: 0 1rem;
}
.services   {
    margin-top: 2rem;
}
.services ul    {
    margin: 1rem 0 0;
    padding: 0 1rem;
    list-style: circle;
    list-style-position: inside
}

@keyframes moveup   {
    from {top: 4rem;}
    to {top: 0rem;}
}
.testimonials-container {
    margin-top: 2rem;
}
.testimonials-container h2  {
    padding: 0 1rem;
}
.testimonials-container ul  {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    align-items: center;
    margin: 1rem ;
    height: 250px;
    padding-right: 1rem;
}
.testimonials-container ul li   {
    display: flex;
    min-width: 250px;
    height: 200px;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(231, 154, 39, 0.3);
    border-radius: 8px;
    margin-left: 1.5rem;
    background-color: rgb(231, 154, 39);
    color: #181717;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}
.testimonials-container ul li blockquote a {
    text-decoration: underline;
    color: #181717;
}
.works .buttons-links   {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.works h2   {
    padding: 0 1rem;
}
.works .buttons-links a {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-right: 1.5rem;
    margin: 1rem 0;
    width: 250px;
    text-align: center;
    
}
.works .buttons-links a:hover   {
    opacity: 0.7;
    cursor: pointer;
}
.buttons-links a:first-child    {
    background-color: #E79B29;
    color: #181717;
}
.buttons-links a:last-child {
    background-color: transparent;
    color: #E79B29;
    border: 2px solid #E79B29;
}
.works .dark-mode-button-links a:first-child {
    background-color: #181717;
    color: #E79B29;
}
.works .dark-mode-button-links a:last-child {
    color: #181717;
    border: 2px solid #181717;
    background-color: #FBB041;
}
.contacts-container {
    margin: 1rem 0;
    display: flex;
    justify-content: center
}
.contacts-container .contacts {
    padding: 1rem 0;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.contacts-container .contacts a {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    border: 2px outset #E79B29;
}
.contacts-container .contacts .dark-mode-contacts a {
    border: 2px outset #181717;
}
footer  {
    margin-top: 3.5rem;
    text-align: center;
    font-size: 0.7rem;
    padding-bottom: 1rem;
}
.fa-arrow-alt-circle-up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
    font-size: 2rem;
}
.dark-mode-button-sun  {
    visibility: hidden;
}
header .hamburger-night-mode-container .night-mode svg .dark-mode-button-moon  {
    visibility: visible;
}
header .hamburger-night-mode-container .dark-mode-hamburger-button {
    background-color: inherit;
}
header .hamburger-night-mode-container .dark-mode-hamburger-button .dark-mode-hamburger    {
    color: #181717;
    background-color: inherit;
}
.testimonials-container ul .dark-mode-card {
    background-color: #181717;
    color: #E79B29;
}
.testimonials-container ul .dark-mode-card a    {
    color: #E79B29;
}
header nav .dark-mode-nav-menu  {
    color: #181717;
}
@media screen and (min-width: 767px)    {
   body .container {
       padding: 0 5rem;
   }
    main .about h1 {
        margin-top: 5rem;
        padding: 1rem;
    }
    .testimonials-container ul li {
        display: flex;
        min-width: 200px;
        height: 200px;
        margin: 0 auto;
        box-shadow: 0 2px 2px 0 rgb(231 154 39 / 30%);
        border-radius: 8px;
        margin-left: 1.5rem;
        background-color: rgb(231, 154, 39);
        color: #181717;
        padding: 2rem;
        align-items: center;
        justify-content: center;
    }
    .works .buttons-links {
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .contacts-container {
        margin: 2rem 0;
        display: flex;
        justify-content: space-around;
    }
    .contacts-container .contacts {
        padding: 1rem 0;
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .contacts-container .contacts a {
        font-size: 2rem;
        padding: 1.5rem;
        border-radius: 50%;
        border: 2px outset #E79B29;
    }
    footer {
        margin-top: 4rem;
        text-align: center;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    .work-container .work-main .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .work-container .work-main .cards .card {
        display: flex;
        flex-direction: column;
        margin: 3rem 6rem 0;
        padding: 1rem;
        border-radius: 8px;
        position: relative;
        background-color: rgba(24, 23, 23, 0.1);
        box-shadow: 0px 2px 2px 1px #E79B29;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    .work-container .work-main .cards .card .card-image {
        display: flex;
        position: relative;
        width: 100%;
    }
    .work-container .work-main .cards .card .card-image img {
        width: 100%;
        height: 100vh;
        object-fit: contain;
        border-radius: 8px;
    }
    .work-container .work-main .cards .card .card-image .img-large-view {
        width: 100%;
        height: 50vh;
        object-fit: contain;
        border-radius: 8px;
    }
    .work-container .work-main .cards .card .card-text  {
        margin-top: 1rem;
    }
    .work-container .work-main .cards .card .card-text .github  {
        margin-left: 28%;
        font-size: 1.5rem;
    }
    .work-container .work-main .cards .card .card-text .url {
        margin-left: 28%;
        font-size: 1.5rem;
    }
    .work-container .work-main .cards .card .card-text p, 
    .work-container .work-main .cards .card .card-text .description    {
        margin-top: 1rem;
    }
}
@media screen and (min-width: 1024px)   {
   body .container {
       padding: 0 11rem;
   }
    header .hamburger-menu {
        
        background-color: inherit;
        width: auto;
        color: #E79B29;
        position: static;
        height: auto;
        display: flex;
        flex-direction: row;
        visibility: visible;

    }
    .dark-mode-nav-menu {
        visibility: visible;
    }
    header .hamburger-night-mode-container  button {
        display: none;
    }
    header nav button {
        display: none;
    }
    header nav ul {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
    header {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    header .hamburger-night-mode-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    main .about h1 {
        margin-top: 10rem;
        padding: 1rem;
    }
    .testimonials-container ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem;
        height: 250px;
        padding-right: 1rem;
        overflow-x: auto;
    }
    .works .buttons-links {
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .works .buttons-links a {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding-right: 1.5rem;
        margin: 2rem 0;
        width: 250px;
        text-align: center;
        margin-right: 2rem;
    }
    .work-container .work-main .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
    }
    .work-container .work-main .cards .card {
        display: flex;
        flex-direction: column;
        margin: 3rem 1rem 0;
        padding: 1rem;
        border-radius: 16px;
        position: relative;
        background-color: rgba(24, 23, 23, 0.1);
        box-shadow: 0px 2px 2px 1px #E79B29;
        width: 45%;
        
    }
    .work-container .work-main .cards .card .card-image {
        display: flex;
        position: relative;
        width: 100%;
    }
    .work-container .work-main .cards .card .card-image img {
        width: 100%;
        height: 100vh;
        object-fit: contain;
        border-radius: 8px;
    }
    .work-container .work-main .cards .card .card-image .img-large-view {
        width: 100%;
        height: 60vh;
        object-fit: fill;
        border-radius: 8px;
    }
    .work-container .work-main .cards .card .card-text  {
        margin-top: 1rem;
    }
    .work-container .work-main .cards .card .card-text .github  {
        margin-left: 28%;
        font-size: 1.5rem;
    }
    .work-container .work-main .cards .card .card-text .url {
        margin-left: 28%;
        font-size: 1.5rem;
    }
    .work-container .work-main .cards .card .card-text p,
    .work-container .work-main .cards .card .card-text .description    {
        margin-top: 1rem;
    }
    .night-mode {
        cursor: pointer;
    }
}